<form [formGroup]="issueForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Summary</mat-label>
      <input matInput type="text" id="summary" formControlName="summary" />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea matInput id="description" formControlName="description">
      </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="type">Type</mat-label>
      <mat-select name="type" formControlName="type">
        <mat-option *ngFor="let issueType of issueTypes" [value]="issueType">
          {{ issueType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="priority">Priority</mat-label>
      <mat-select name="priority" formControlName="priority">
        <mat-option
          *ngFor="let issuePriority of issuePriorities"
          [value]="issuePriority"
        >
          {{ issuePriority }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="points">Story points</mat-label>
      <mat-select name="points" formControlName="points">
        <mat-option [value]="1"> 1 </mat-option>
        <mat-option [value]="2"> 2 </mat-option>
        <mat-option [value]="3"> 3 </mat-option>
        <mat-option [value]="5"> 5 </mat-option>
        <mat-option [value]="8"> 8 </mat-option>
        <mat-option [value]="13"> 13 </mat-option>
        <mat-option [value]="21"> 21 </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="assignee">Assignee</mat-label>
      <mat-select
        (click)="onLoadAssignees()"
        name="assignee"
        formControlName="assignee"
      >
        <mat-option *ngFor="let assignee of assignees" [value]="assignee.id">
          {{ assignee.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close type="submit" id="submit">
        Save
      </button>
      <button mat-raised-button mat-dialog-close id="cancel">Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</form>
