.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-card {
    padding: 3rem;
    width: 40%;
    border-radius: 5%;

    .icon-container {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        padding: 1.2rem;
        transform: scale(2.3);
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .form-actions {
        margin-top: 1rem;
        display: flex;
        align-items: baseline;

        button {
          font-weight: 900;
          font-size: medium;
          flex-grow: 1;
          margin-right: 1rem;
          padding: 0.3rem;
        }
      }
    }
  }
}
