.form-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-card {
    padding: 3rem;
    width: 40%;
  }

  .form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
