.form {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-card {
    padding: 3rem;
    width: 40%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-actions {
    display: flex;
    align-items: baseline;

    button {
      display: flex;
      flex-grow: 1;
      margin-right: 1rem;
    }
  }
}
