@use "~src/styles/components/drop-list";

.drop-list {
  @extend %drop-list-layout;

  .fallback {
    width: 100%;
    min-height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(121, 121, 121);
  }
}

.issue-card {
  width: 100%;
}
