<mat-sidenav-container fullscreen>
  <!-- side navigation  -->
  <mat-sidenav mode="side" opened>
    <!-- list items -->
    <mat-nav-list>
      <a mat-list-item (click)="onDisplayActiveSprints()"> Active sprints </a>

      <a mat-list-item (click)="onDisplayFinishedSprints()">
        Finished sprints
      </a>

      <a mat-list-item (click)="onDisplayDevs()">Devs</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
