<form [formGroup]="sprintForm" (ngSubmit)="onSave()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error *ngIf="name.hasError('required')"
      >Sprint name is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Goal summary</mat-label>
    <textarea
      matInput
      formControlName="goal"
      name="goal"
      id="goal"
      cols="30"
      rows="10"
    ></textarea>
    <mat-error *ngIf="goal.hasError('required')"
      >Sprint goal is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sprint date range</mat-label>
    <mat-date-range-input formGroupName="dateRange" [rangePicker]="rangePicker">
      <input
        matStartDate
        formControlName="startDate"
        placeholder="Start date"
      />
      <input matEndDate formControlName="endDate" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="rangePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker> </mat-date-range-picker>
  </mat-form-field>

  <button mat-raised-button mat-dialog-close type="submit">Save</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</form>
