<form class="sprint-form" [formGroup]="sprintForm" (ngSubmit)="onSave()">
  <h2 mat-dialog-title>Sprint</h2>

  <mat-dialog-content class="sprint-form-content">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="name.hasError('required')"
        >Sprint name is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Goal summary</mat-label>
      <textarea
        matInput
        formControlName="goal"
        name="goal"
        id="goal"
        cols="30"
        rows="10"
      ></textarea>
      <mat-error *ngIf="goal.hasError('required')"
        >Sprint goal is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sprint date range</mat-label>
      <mat-date-range-input
        [min]="sprintMinDate"
        [max]="sprintMaxDate"
        formGroupName="dateRange"
        [rangePicker]="rangePicker"
      >
        <input
          matStartDate
          (dateChange)="onDateRangeChange($event)"
          formControlName="startDate"
          placeholder="Start date"
        />
        <input matEndDate formControlName="endDate" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit">Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
