<form [formGroup]="sprintForm" (ngSubmit)="onSave()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error *ngIf="name.hasError('required')"
      >Sprint name is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Goal summary</mat-label>
    <textarea
      matInput
      formControlName="goal"
      name="goal"
      id="goal"
      cols="30"
      rows="10"
    ></textarea>
    <mat-error *ngIf="goal.hasError('required')"
      >Sprint goal is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label for="start-date">Start date</mat-label>
    <input matInput type="date" id="start-date" formControlName="startDate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="end-date">End date</mat-label>
    <input matInput type="date" id="end-date" formControlName="endDate" />
  </mat-form-field>

  <button mat-raised-button mat-dialog-close type="submit">Save</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</form>
