$border: 1px solid rgb(141, 141, 141);

.main {
  margin: 3rem;

  mat-panel-title {
    font-weight: 600;
    font-size: medium;
  }

  table {
    width: 100%;
    font-size: 120%;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    td,
    th {
      padding: 0.5rem;
    }

    th {
      border-bottom: $border;
    }
  }

  button {
    display: block;
    margin: auto;
  }
}
