<div class="main">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ sprint.name }} </mat-panel-title>
      <mat-panel-description>
        {{ sprint.goal }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- expansion panel main content -->
    <table>
      <tr>
        <th>Issues</th>
        <th>Status</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>

      <tr>
        <td>{{ sprint.backlog.length }}</td>
        <td>{{ sprint.status }}</td>
        <td>{{ sprint.startDate | date }}</td>
        <td>{{ sprint.endDate | date }}</td>
      </tr>
    </table>

    <button
      mat-raised-button
      *ngIf="sprint.status === 'Active'"
      (click)="onDisplaySprintBoard()"
    >
      Go to board <mat-icon>assignment</mat-icon>
    </button>
  </mat-expansion-panel>
</div>
