@use "~src/styles/components/details-table";

.main {
  margin: 3rem;

  mat-panel-title {
    font-weight: 600;
    font-size: medium;
  }

  table {
    @extend %details-table;
  }

  button {
    display: block;
    margin: auto;
  }
}
