<div class="main">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ sprint.name }} </mat-panel-title>
      <mat-panel-description>
        {{ sprint.goal }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- expansion panel main content -->
    <table>
      <tr>
        <th>Issues</th>
        <th>Status</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>

      <tr>
        <td>{{ sprint.backlog.length }}</td>
        <td>
          <ng-container [ngSwitch]="sprint.status">
            <mat-icon
              fontSet="material-icons-outlined"
              matTooltip="Active"
              *ngSwitchCase="'Active'"
              >pending</mat-icon
            >
            <mat-icon matTooltip="Over" *ngSwitchCase="'Over'"
              >task_alt</mat-icon
            >
            <mat-icon *ngSwitchDefault matTooltip="Inactive"
              >disabled_by_default</mat-icon
            >
          </ng-container>
        </td>
        <td>{{ sprint.startDate | date }}</td>
        <td>{{ sprint.endDate | date }}</td>
      </tr>
    </table>

    <button
      mat-fab
      *ngIf="sprint.status === 'Active'"
      matTooltip="Go to board"
      (click)="onDisplaySprintBoard()"
      color="basic"
    >
      <mat-icon class="material-icons-outlined">assignment</mat-icon>
    </button>
  </mat-expansion-panel>
</div>
