.issue-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  cursor: move;

  .high-priority {
    color: red;
  }

  .medium-priority {
    color: orange;
  }

  .low-priority {
    color: green;
  }
}
