<mat-card class="issue-card" (dblclick)="onDisplayDetails()">
  <!-- issue details -->
  <div class="issue-details">
    <mat-icon
      [class]="{
        'high-priority': issue.priority == 'High',
        'medium-priority': issue.priority == 'Medium',
        'low-priority': issue.priority == 'Low'
      }"
    >
      circle
    </mat-icon>
    <span>{{ issue.summary }}</span>
  </div>

  <!-- actions menu button -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-card>

<!-- update/delete issue actions menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onDisplayDetails()">
    <mat-icon>preview</mat-icon>
    Display details
  </button>

  <div *ngIf="canModify()">
    <button mat-menu-item id="update" (click)="onUpdate()">
      <mat-icon>update</mat-icon>
      Update
    </button>

    <button mat-menu-item id="remove" (click)="onRemove()">
      <mat-icon>delete_forever</mat-icon>
      Remove
    </button>
  </div>
</mat-menu>
