.issue-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;

  .issue-details {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-left: 1rem;
    }

    .high-priority {
      color: red;
    }

    .medium-priority {
      color: orange;
    }

    .low-priority {
      color: green;
    }
  }
}
