<ng-container
  *ngIf="sprints?.length; then showSprints; else noSprints"
></ng-container>

<ng-template #noSprints>
  <div class="fallback">
    <mat-icon>warning_amber</mat-icon>
    <h1>
      There are currently no
      {{ status.toLowerCase() === "active" ? "active" : "finished" }} sprints
    </h1>
  </div>
</ng-template>

<ng-template #showSprints>
  <mat-accordion>
    <app-sprint-details *ngFor="let sprint of sprints" [sprint]="sprint">
    </app-sprint-details>
  </mat-accordion>
</ng-template>
