<form [formGroup]="boardForm" (ngSubmit)="onSave()">
  <mat-form-field appearance="outline">
    <mat-label>Board name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
    <mat-error *ngIf="name.hasError('required')"
      >Name is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close type="submit">Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
