<mat-list-item>
  <mat-icon class="material-icons-outlined" mat-list-icon
    >account_circle</mat-icon
  >

  <div mat-line>
    <strong>{{ comment?.owner.userName }}</strong>
  </div>

  <div mat-line *ngIf="!willDisplayUpdateField; else updateField" id="content">
    {{ comment?.content }}
  </div>

  <ng-template #updateField>
    <div class="update-container">
      <input #updateContentInput type="text" [value]="comment.content" />

      <button
        mat-icon-button
        (click)="onConfirmUpdate(updateContentInput.value)"
      >
        <mat-icon>check</mat-icon>
      </button>

      <button mat-icon-button (click)="onCancelUpdate()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>

  <!-- update / delete menu -->
  <button *ngIf="canModify()" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item id="remove" (click)="onRemove()">
      <mat-icon>delete_forever</mat-icon>Remove
    </button>
    <button mat-menu-item id="update" (click)="onUpdate()">
      <mat-icon>update</mat-icon> Update
    </button>
  </mat-menu>
</mat-list-item>
