<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <label for="email">Email:</label>
  <input type="text" id="email" formControlName="email" />

  <div *ngIf="email.touched && email.invalid" id="email-error">
    Invalid email
  </div>

  <label for="password">Password: </label>
  <input type="password" id="password" formControlName="password" />

  <div *ngIf="password.touched && password.invalid" id="password-error">
    Invalid password
  </div>

  <button type="submit">Login</button>
</form>
