<ng-container
  *ngIf="board?.id; then createColumn; else createBoard"
></ng-container>

<ng-template #createColumn>
  <button mat-raised-button (click)="onDisplayColumnForm()">Add column</button>
</ng-template>

<ng-template #createBoard>
  <button mat-raised-button (click)="onDisplayBoardForm()">
    Create scrum board
  </button>
</ng-template>

<div cdkDropListGroup>
  <!-- render the to do column containing the sprint backlog issues -->
  <app-column [issues]="sprint?.backlog"></app-column>

  <!-- render the other board columns -->
  <app-column
    *ngFor="let column of board?.columns"
    [title]="column.title"
    [issues]="column.issues"
  ></app-column>
</div>
