<ng-container
  *ngIf="board?.id; then createColumn; else createBoard"
></ng-container>

<!-- rendered when the board hasn't been created yet -->
<ng-template #createBoard>
  <div class="add-board-btn">
    <button mat-raised-button (click)="onDisplayBoardForm()">
      <div class="main-content">
        <span>Create scrum board</span><mat-icon>add_circle</mat-icon>
      </div>
    </button>
  </div>
</ng-template>

<!-- rendered when the board has already been created -->
<ng-template #createColumn>
  <mat-toolbar class="toolbar">
    <button mat-button (click)="onDisplayColumnForm()">Add column</button>
    <button mat-button (click)="onEndSprint()">End sprint</button>
  </mat-toolbar>

  <!-- render board columns -->
  <div cdkDropListGroup class="board">
    <app-column
      *ngFor="let column of board?.columns"
      [column]="column"
      [boardId]="board?.id"
    ></app-column>
  </div>
</ng-template>
