.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: scroll;
}

.add-board-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  button {
    width: 20%;

    .main-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
