<button
  *ngIf="board?.id; else createBoard"
  mat-raised-button
  id="add-column"
  (click)="onDisplayColumnForm()"
>
  Add column
</button>

<ng-template #createBoard>
  <button mat-raised-button>Create board</button>
</ng-template>

<div cdkDropListGroup>
  <!-- render the to do column containing the sprint backlog issues -->
  <app-column [issues]="sprint?.backlog"></app-column>

  <!-- render the other board columns -->
  <app-column
    *ngFor="let column of board?.columns"
    [title]="column.title"
    [issues]="column.issues"
  ></app-column>
</div>
