<form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
  <input type="text" id="description" formControlName="description" />
  <input type="text" id="summary" formControlName="summary" />
  <input type="text" id="type" formControlName="type" />
  <input type="text" id="status" formControlName="status" />
  <input type="text" id="resolution" formControlName="resolution" />
  <input type="text" id="assignee" formControlName="assignee" />
  <input type="text" id="reporter" formControlName="reporter" />
  <input type="text" id="comments" formControlName="comments" />
  <input type="text" id="votes" formControlName="votes" />
  <input type="text" id="watchers" formControlName="watchers" />
  <input type="text" id="created" formControlName="created" />
  <input type="text" id="updated" formControlName="updated" />
  <input type="text" id="estimate" formControlName="estimate" />

  <button type="submit" id="submit">Add issue</button>
</form>
