<form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
  <label for="summary">Summary: </label>
  <input type="text" id="summary" formControlName="summary" />

  <label for="description">Description: </label>
  <textarea id="description" formControlName="description"> </textarea>

  <label for="type">Type: </label>
  <select id="type" formControlName="type">
    <option *ngFor="let type of issueTypes" value="type">{{ type }}</option>
  </select>

  <label for="status">Status: </label>
  <select id="status" formControlName="status">
    <option value="Todo">Todo</option>
    <option value="InProgress">In Progress</option>
    <option value="Done">Done</option>
  </select>

  <label for="resolution">Resolution: </label>
  <select type="text" id="resolution" formControlName="resolution">
    <option value="Unresolved">Unresolved</option>
    <option value="Done">Done</option>
    <option value="Duplicate">Duplicate</option>
    <option value="Wont Do">Wont Do</option>
  </select>

  <label for="assignee">Assignee: </label>
  <input type="text" id="assignee" formControlName="assignee" />

  <label for="reporter">Reporter: </label>
  <input type="text" id="reporter" formControlName="reporter" />

  <label for="created">Date created: </label>
  <input type="date" id="created" formControlName="created" />

  <label for="updated">Date updated: </label>
  <input type="date" id="updated" formControlName="updated" />

  <label for="estimate">Estimated time: </label>
  <input type="date" id="estimate" formControlName="estimate" />

  <button type="submit" id="submit">Add issue</button>
</form>
