<form>
  <label for="first-name">First name:</label>
  <input type="text" formControlName="firstName" id="first-name" />

  <label for="last-name">Last name:</label>
  <input type="text" formControlName="lastName" id="last-name" />

  <label for="username">Username:</label>
  <input type="text" formControlName="userName" id="username" />

  <label for="email">Email:</label>
  <input type="text" formControlName="email" id="email" />

  <label for="password">Password:</label>
  <input type="text" formControlName="password" id="password" />
</form>
