<form [formGroup]="signupForm" (ngSubmit)="onSignup()">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput type="text" formControlName="firstName" id="first-name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="last-name">Last name</mat-label>
    <input matInput type="text" formControlName="lastName" id="last-name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="username">Username</mat-label>
    <input matInput type="text" formControlName="userName" id="username" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput type="text" formControlName="email" id="email" />

    <mat-error
      *ngIf="email.touched && email.invalid && !email.hasError('required')"
      id="email-error"
    >
      Invalid email
    </mat-error>

    <mat-error *ngIf="email.hasError('required')"
      >Email is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput type="text" formControlName="password" id="password" />

    <mat-hint>At least 5 characters long</mat-hint>

    <mat-error
      *ngIf="
        password.touched && password.invalid && !password.hasError('required')
      "
      id="password-error"
    >
      Invalid password
    </mat-error>

    <mat-error *ngIf="password.hasError('required')"
      >Password is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <button type="submit">Sign up</button>
</form>
