<!-- display either the list of projects or a fallback element -->
<ng-container
  *ngIf="projects.length; then projectsList; else fallback"
></ng-container>

<ng-template #projectsList>
  <mat-action-list>
    <div mat-subheader>Projects</div>

    <app-project *ngFor="let project of projects" [project]="project">
    </app-project>
  </mat-action-list>
</ng-template>

<ng-template #fallback>
  <h1 class="fallback">There are currently no projects</h1>
</ng-template>

<button
  mat-fab
  matTooltip="Add new project"
  (click)="onAddProject()"
  color="basic"
>
  <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
</button>
