<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" formControlName="email" />

    <mat-error
      *ngIf="email.touched && email.invalid && !email.hasError('required')"
      id="email-error"
    >
      Invalid email
    </mat-error>

    <mat-error *ngIf="email.hasError('required')"
      >Email is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" formControlName="password" />

    <mat-hint>At least 5 characters long</mat-hint>

    <mat-error
      *ngIf="
        password.touched && password.invalid && !password.hasError('required')
      "
      id="password-error"
    >
      Invalid password
    </mat-error>

    <mat-error *ngIf="password.hasError('required')"
      >Password is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>

<p>Don't have an account ?</p>
<a routerLink="/signup">Sign up</a>
