<!-- list of comments -->
<mat-list>
  <div mat-subheader>Comments:</div>

  <app-comment
    *ngFor="let comment of comments"
    [comment]="comment"
    (commentRemoved)="onRemoveComment($event)"
    (commentUpdated)="onUpdateComment($event)"
  >
  </app-comment>
</mat-list>

<!-- add new comment -->
<mat-form-field>
  <input matInput type="text" id="comment" #commentInputField />
</mat-form-field>
<button
  mat-raised-button
  id="add-comment"
  (click)="onCreateComment(commentInputField)"
>
  Comment
</button>
