<mat-sidenav-container fullscreen>
  <!-- side navigation  -->
  <mat-sidenav mode="side" opened>
    <!-- list items -->
    <mat-nav-list>
      <!-- product backlog -->
      <a
        mat-list-item
        [routerLink]="['./backlog']"
        [queryParams]="queryParams.backlog"
      >
        Backlog
      </a>

      <!-- active sprints route -->
      <a
        mat-list-item
        [routerLink]="['./sprints']"
        [queryParams]="queryParams.activeSprints"
      >
        Active sprints
      </a>

      <!-- finished sprints route -->
      <a
        mat-list-item
        [routerLink]="['./sprints']"
        [queryParams]="queryParams.finishedSprints"
      >
        Finished sprints
      </a>

      <!-- list of dev team members route -->
      <a
        mat-list-item
        [routerLink]="['./devs']"
        [queryParams]="queryParams.devs"
      >
        Dev team
      </a>

      <!-- list of other devs -->
      <a
        mat-list-item
        [routerLink]="['./users']"
        [queryParams]="queryParams.users"
      >
        Other Devs
      </a>

      <!-- list of projects -->
      <a mat-list-item [routerLink]="['/projects']"> Projects </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
