<mat-sidenav-container fullscreen>
  <!-- side navigation  -->
  <mat-sidenav mode="side" opened>
    <!-- list items -->
    <mat-nav-list class="nav-list">
      <div>
        <mat-list-item
          *ngFor="let navItem of navItems"
          (click)="onNavigate(navItem)"
        >
          <mat-icon matListIcon>{{ navItem.icon }}</mat-icon>
          <p matLine>{{ navItem.label }}</p>
        </mat-list-item>
      </div>

      <!-- log out -->
      <mat-list-item>
        <mat-icon matListIcon>logout</mat-icon>
        <a matLine [routerLink]="['/login']" (click)="onLogOut()">Log out</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
