@use "~src/styles/components/drop-list";

.main {
  background-color: blue;
  height: 100%;
  margin: 0.5rem;

  .drop-list {
    @extend %drop-list-layout;

    height: 90%;
    min-width: 15rem;
    max-width: 15rem;

    overflow: auto;

    .issue-card {
      width: 100%;
    }
  }

  .column-title {
    width: 100%;
    display: flex;
    justify-content: center;

    font-weight: 900;
    cursor: pointer;

    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    background-color: red;
  }
}
