@use "~src/styles/components/drop-list" as dl;

.drop-list {
  @include dl.drop-list;

  height: 100%;
  margin: 0.5rem;
  min-width: 15rem;

  overflow: auto;

  .issue-card {
    width: 100%;
  }
}
