@use "~src/styles/components/drop-list";

$width: 15.5rem;

.main {
  min-width: $width;
  max-width: $width;

  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0.5rem;

  .drop-list {
    @extend %drop-list-layout;

    flex-grow: 1;
    overflow: auto;

    .issue-card {
      width: 100%;
    }
  }

  .column-title {
    width: 100%;
    display: flex;
    justify-content: center;

    font-weight: 900;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
  }

  .update-input {
    display: flex;
  }
}
