<div class="signup-form-container">
  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput type="text" formControlName="fullName" id="full-name" />
      <mat-error *ngIf="fullName.hasError('pattern')"
        >Should contain letters only</mat-error
      >
      <mat-error *ngIf="fullName.hasError('required')"
        >Full name is required</mat-error
      >
      <mat-error
        *ngIf="fullName.hasError('minlength') && !fullName.hasError('pattern')"
        >Should be at least 3 characters long</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input matInput type="text" formControlName="userName" id="username" />
      <mat-error *ngIf="userName.hasError('minlength')"
        >Should be at least 3 characters long</mat-error
      >
      <mat-error *ngIf="userName.hasError('required')"
        >User name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="email">Email</mat-label>
      <input matInput type="text" formControlName="email" id="email" />

      <mat-error *ngIf="email.invalid && !email.hasError('required')">
        Invalid email
      </mat-error>

      <mat-error *ngIf="email.hasError('required')"
        >Email is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" formControlName="password" />

      <mat-error *ngIf="password.invalid && !password.hasError('required')">
        At least 5 characters long
      </mat-error>

      <mat-error *ngIf="password.hasError('required')"
        >Password is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <button mat-raised-button type="submit">Sign up</button>
  </form>

  <p>Already have an account ? <a routerLink="/login">Login</a></p>
</div>
