<form [formGroup]="projectForm" (ngSubmit)="onSave()">
  <mat-form-field appearance="outline">
    <mat-label>Project name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
    <mat-error
      *ngIf="name.touched && name.invalid && !name.hasError('required')"
      >At least 5 characters long</mat-error
    >
    <mat-error *ngIf="name.hasError('required')"
      >Name is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <div class="action-buttons">
    <button mat-button mat-dialog-close type="submit">
      Save
      <mat-icon class="material-icons-outlined">save</mat-icon>
    </button>
    <button mat-button mat-dialog-close>
      Cancel
      <mat-icon class="material-icons-outlined">cancel</mat-icon>
    </button>
  </div>
</form>
