$border: 1px solid rgb(141, 141, 141);

.details {
  width: 50rem;
  height: 85vh;

  table {
    width: 100%;
    text-align: center;

    td,
    th {
      padding: 0.5rem;
    }

    th {
      border-bottom: $border;
    }

    .priority-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .high {
        color: red;
      }
      .medium {
        color: orange;
      }
      .low {
        color: green;
      }
    }
  }
}
