<div class="details">
  <div>
    <h2>Description:</h2>
    <p id="description">{{ issue.description }}</p>
  </div>

  <div>
    <h2>Summary:</h2>
    <p id="summary">{{ issue.summary }}</p>
  </div>

  <table>
    <tr>
      <th>Type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Story points</th>
    </tr>
    <tr>
      <td>{{ issue.type }}</td>
      <td>{{ issue.status }}</td>
      <td>
        <ng-container [ngSwitch]="issue.priority">
          <mat-icon *ngSwitchCase="'High'">keyboard_double_arrow_up</mat-icon>
          <mat-icon *ngSwitchCase="'Low'">keyboard_double_arrow_down</mat-icon>
          <mat-icon *ngSwitchDefault>keyboard_double_arrow_right</mat-icon>
        </ng-container>

        {{ issue.priority }}
      </td>
      <td>{{ issue.points }}</td>
    </tr>
  </table>

  <div>
    <h2>Assignee:</h2>
    <p id="assignee">{{ issue.assignee?.userName }}</p>
  </div>

  <div>
    <h2>Reporter:</h2>
    <p id="reporter">{{ issue.reporter?.userName }}</p>
  </div>

  <div>
    <h2 for="created">Created:</h2>
    <div id="created">{{ issue.creationTime }}</div>
  </div>

  <div>
    <h2 for="updated">Updated:</h2>
    <div id="updated">{{ issue.updateTime }}</div>
  </div>

  <!-- list of comments -->
  <app-comments
    id="comments"
    [comments]="issue.comments"
    [issueId]="issue.id"
  ></app-comments>
</div>
