$border: 1px solid rgb(141, 141, 141);

.details {
  width: 50rem;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  table {
    width: 100%;
    text-align: center;

    td,
    th {
      padding: 0.5rem;
    }

    th {
      border-bottom: $border;
    }

    .points {
      padding: 0.3rem;
      border-radius: 30%;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      font-weight: 900;
    }
  }

  app-comments {
    margin-top: 2rem;
  }
}
