<div class="main">
  <!-- sprint backlog -->
  <div class="header">
    <h2>{{ sprint.name }}</h2>
    <div>
      <button
        mat-button
        matTooltip="Start sprint"
        [matTooltipShowDelay]="200"
        (click)="onStartSprint()"
        [disabled]="sprint.backlog.length === 0"
      >
        <mat-icon>play_circle_outline</mat-icon>
      </button>

      <button mat-button matTooltip="Remove sprint" [matTooltipShowDelay]="200">
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
  </div>

  <app-issues [issues]="sprint.backlog"></app-issues>
</div>
