<button mat-raised-button id="add-issue" (click)="onDisplayIssueForm()">
  Add issue
</button>

<button mat-raised-button id="add-sprint" (click)="onCreateSprint()">
  Add sprint
</button>

<div cdkDropListGroup>
  <!-- sprint backlog -->
  <app-issues *ngIf="willDisplaySprintBacklog"></app-issues>
  <button
    mat-raised-button
    *ngIf="willDisplaySprintBacklog"
    (click)="onDisplaySprintBacklog()"
  >
    Start sprint
  </button>

  <!-- product backlog -->
  <app-issues [issues]="issues"></app-issues>
</div>
