<mat-toolbar class="toolbar">
  <button mat-button (click)="onDisplayIssueForm()">Add issue</button>
  <button mat-button (click)="onDisplaySprintForm()">Add sprint</button>
</mat-toolbar>

<div cdkDropListGroup class="main-content">
  <!-- display inactive sprints along with their backlogs  -->
  <div class="sprints">
    <app-sprint
      *ngFor="let sprint of sprints"
      [sprint]="sprint"
      cdkDropList
      [cdkDropListData]="sprint"
      (cdkDropListDropped)="onDrop($event)"
    ></app-sprint>
  </div>

  <mat-divider *ngIf="sprints.length !== 0"></mat-divider>

  <!-- product backlog -->
  <div class="backlog">
    <h1>Product Backlog</h1>
    <div
      cdkDropList
      [cdkDropListData]="backlog"
      (cdkDropListDropped)="onDrop($event)"
    >
      <app-issues [issues]="backlog"></app-issues>
    </div>
  </div>
</div>
