<mat-sidenav-container>
  <!-- side navigation  -->
  <mat-sidenav mode="side" opened>
    <!-- side navigation list items -->
    <mat-action-list>
      <button mat-list-item (click)="onDisplayIssueForm()">Add issue</button>

      <button mat-list-item (click)="onDisplaySprintForm()">Add sprint</button>

      <button mat-list-item (click)="onDisplayActiveSprints()">
        Active sprints
      </button>

      <button mat-list-item (click)="onDisplayFinishedSprints()">
        Finished sprints
      </button>

      <button mat-list-item (click)="onDisplayDevs()">Devs</button>
    </mat-action-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <div cdkDropListGroup>
      <!-- display inactive sprints along with their backlogs  -->
      <app-sprint
        *ngFor="let sprint of sprints"
        [sprint]="sprint"
        cdkDropList
        [cdkDropListData]="sprint"
        (cdkDropListDropped)="onDrop($event)"
      ></app-sprint>

      <!-- product backlog -->
      <div
        cdkDropList
        [cdkDropListData]="backlog"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-issues [issues]="backlog"></app-issues>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
