.dev-card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 1.5rem;

  .owner {
    display: flex;

    mat-icon {
      margin-right: 1rem;
    }

    .name {
      font-weight: 600;
    }
  }
}
